body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;}
    /*transicion d color*/
.item {
    background-color: tomato;
    width:200px ;
    height: 200px;
    transition-property: babackground-color;
    transition-duration: 800ms;
    transition-timing-function: cubic-bezier(0.88,-0.44, 0.32, 1.28);
   /* transition-delay: 100ms; quiere decir q va  espear para hacer en efecto 100ms desde q pongo el maouse en la img*/
}
.item:hover {
    background-color: lightblue;
    
}
.parrafoamplio {
transition: font-size 300ms ease-out; /*selecionamos la fon size para darle el efecto*/
}
.parrafoamplio:hover {
    font-size: large;
    cursor: pointer;
    
}
