body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;}
    /*transicion d color*/
.item {
    background-color: tomato;
    width:200px ;
    height: 200px;
    transition-property: babackground-color;
    transition-duration: 800ms;
    transition-timing-function: cubic-bezier(0.88,-0.44, 0.32, 1.28);
   /* transition-delay: 100ms; quiere decir q va  espear para hacer en efecto 100ms desde q pongo el maouse en la img*/
}
.item:hover {
    background-color: lightblue;
    
}
.parrafoamplio {
transition: font-size 300ms ease-out; /*selecionamos la fon size para darle el efecto*/
}
.parrafoamplio:hover {
    font-size: large;
    cursor: pointer;
    
}
.itemopacidad {
    width: 200px; 
    height: 100px;
    background-color: lightcoral;
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
}
.itemopacidad:hover{
    opacity: 1;
}
.subrayado {
position: relative;
display: inline-block;



}
.subrayado:hover{
cursor: pointer;

}
.subrayado::after {
    content: ""; /*para pintar un linea siempre necesitamos un conten*/
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    background-color: chartreuse;
    height: 2px;
    transition: width 250ms ease-in;
    
}
.subrayado:hover::after{
width: 100%;

}

/*animaciones de movimiento*/
.contenedoranimado {
    width: 150px;
    height: 50px;
    background-color: lightgray;
color: black;
animation-name: movimento; /*con este la activamos a la animacaiones y el name "movimiento" es un nombre que  podemos inventar nosotros*/
animation-duration: 4s ; /*hace q el ida y vuelta tarde por 4 segundos*/
animation-timing-function: linear;
animation-direction: alternate;/*hace q llegue hasta el final y vuelva de reversa*/
animation-iteration-count: infinite; /*hace q se repita 3 ves el moviento de ida y vuelta o ponemos infiniti q es para q siempre este en movimento */

}
@keyframes movimento {
from {
    /*aqui nombre los valores de css que quiero q tenga la animacion en el incio*/
transform: translateX(0);
}
to {
    /*to signica al final de la animacion*/
transform: translateX(200px);
}    


}/*la palabra movimiento tiene q coincidir con la de arriba animation name paara q funcione*/


/*animacion de rotacion*/
.parraforotado {
    animation: rotacion 2s linear infinite ;

}
@keyframes rotacion {
0% {
transform:rotate(0deg);
}
100% {
    transform:rotate(360deg);
}

}

/*animacion d escala de mas grande a mas chica*/

.escalarmundo {
animation: escalar 2s ease infinite alternate-reverse;


}
@keyframes escalar { 
0% {
    transform: scale(1);/*este empieza normal tamano normal*/
}    
30% {
    transform: scale(1.7); /*hace q se agrande el mundo*/
}
100% { transform: scale(0.5);} /*hace q se achique el mundo*/



}

/* usamos animacion y transicion juntos*/

.contenedorprincipal {
    width: 250px;
    height: 250px;
}
.circulo {
 width: 30px;
height: 30px;
background-color: rgb(60, 60, 245);
border-radius: 50% /* hacenis q el wid y heig tome forma de circulo usando border al 50*/;
position: relative;
animation: animacioncompleja 4s ease 5;
transition: border-radius 200ms linear;
}

@keyframes animacioncompleja {
0% { 
    top: 0px;
    left: 0px;
    background-color: blue;
}    
25% {
    top: 0px;
    left: 100px;
    background-color: blueviolet;
}
50% { 
    top: 100px;
    left: 100px;
background-color: rgb(153, 100, 203);
}
75% {
top: 100px;
left: 0px;
background-color: rgb(56, 56, 112);
}

100% {
    top: 0px;
    left: 0px;
    background-color: rgb(60, 60, 245) ;
}
}

/*aqui hacemos con transicion que el circulo del cuadrado vuelva a ser un cuadrado al pasar el mouse*/
.circulo:hover {
    border-radius: 0%;
}